/* line 2, /Users/XWINGFIGHTER/Documents/Code/nashvilleOM/app/assets/stylesheets/scaffolds.sass */
body {
  background-color: white;
  color: #333333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /Users/XWINGFIGHTER/Documents/Code/nashvilleOM/app/assets/stylesheets/scaffolds.sass */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
}

/* line 14, /Users/XWINGFIGHTER/Documents/Code/nashvilleOM/app/assets/stylesheets/scaffolds.sass */
pre {
  background-color: #eeeeee;
  padding: 10px;
  font-size: 11px;
}

/* line 19, /Users/XWINGFIGHTER/Documents/Code/nashvilleOM/app/assets/stylesheets/scaffolds.sass */
a {
  color: black;
}
/* line 21, /Users/XWINGFIGHTER/Documents/Code/nashvilleOM/app/assets/stylesheets/scaffolds.sass */
a:visited {
  color: #666666;
}
/* line 23, /Users/XWINGFIGHTER/Documents/Code/nashvilleOM/app/assets/stylesheets/scaffolds.sass */
a:hover {
  color: #1360e3;
  background-color: black;
}

/* line 28, /Users/XWINGFIGHTER/Documents/Code/nashvilleOM/app/assets/stylesheets/scaffolds.sass */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 31, /Users/XWINGFIGHTER/Documents/Code/nashvilleOM/app/assets/stylesheets/scaffolds.sass */
#notice {
  color: green;
}

/* line 34, /Users/XWINGFIGHTER/Documents/Code/nashvilleOM/app/assets/stylesheets/scaffolds.sass */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 39, /Users/XWINGFIGHTER/Documents/Code/nashvilleOM/app/assets/stylesheets/scaffolds.sass */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 47, /Users/XWINGFIGHTER/Documents/Code/nashvilleOM/app/assets/stylesheets/scaffolds.sass */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #cc0000;
  color: white;
}
/* line 57, /Users/XWINGFIGHTER/Documents/Code/nashvilleOM/app/assets/stylesheets/scaffolds.sass */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
