<h1 class='col-xs-12 col-sm-12 col-md-12 transparent-light text-center'>Classes and Education</h1>
<div class='transparent-dark'>
  <div class='col-md-offset-1'>
    <%= render 'shared/hours' %>
  </div>
</div>
