<div class='container'>

  <h1 class='transparent-light text-center'>Contact</h1>
  <div class='transparent-dark'>
  <div class='col-md-offset-1'></div>
      <%= render 'shared/hours' %>
      <address>
        <%= t(:client) %><br>
        <%= t(:email)%><br>
        <a href='tel:+1+615-310-5359'>615-310-5359</a> <br>
      </address>
  </div>

  <h2 class='transparent-light text-center'>Map</h2>
  <iframe width='100%'src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1611.4574221082664!2d-86.76775657113507!3d36.119932313503746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x886465c49cdaa13d%3A0xb77e0d9509ab105c!2s2704+Berrywood+Dr%2C+Nashville%2C+TN+37204!5e0!3m2!1sen!2sus!4v1467739427547" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
