<p>

<label class='text-center col-md-12'>YOUR FEET ARE YOUR FOUNDATION
<figure class='col-md-12'>
  <%= image_tag 'feet', class:'img img-fluid col-md-12' %>
</figure>
</label>
</p>
<p>
<label class='text-center col-md-12'>Looking for a way to <strong>PREVENT</strong> and <strong>CORRECT:</strong></label>
<ul class='text-center list-group list-unstyled'>
  <li>Bunions,</li>
  <li>Hammertoes,</li>
  <li>Neuromas,</li>
  <li>Plantar Fasciosis,</li>
  <li>Heel and Foot Pain?</li>
</ul>
</label>
</p>
<div class='transparent-dark'>
  <div class='row'>

    <p class=' foot-text text-center col-md-12'>&nbsp;&nbsp;&nbsp;&nbsp;Connective Tissue Massage, Structural Bodywork, and Isolated Stretching Techniques release repetitive strain patterns and reprogram the neurological functions of the musculofasical system.  This provides the opportunity to restore resilience and awareness to the foundation of what makes us human, our feet.  Along with stretching and bodywork, Podiatrist Ray McClanahan created Correct Toes.  An orthotic device, Correct Toes aligns the bones of the feet, thus allowing the muscles of the lower leg and foot to strengthen and balance.
Correct toes are available through Nashville Orthopedic Massage.</p>
    <figure class='col-md-offset-1 col-md-10'>
      <%= image_tag 'natchez', class:'col-md-12' %>
    </figure>
    <label class='col-md-offset-2 col-md-8 text-center'><%= t(:natchez)%></label>
  </div>
  <figure class='col-md-offset-1 col-md-10'>
    <%= image_tag 'arches', class:'col-md-12' %>
  </figure>
</div>
