<h1 class='transparent-light text-center'>Treatments</h1>
<div class='transparent-dark'>
  <div class='col-md-offset-1'>
    A variety of treatments and modalities are available to insure a customized and individual experience.
  </div>
</div>
<div class='text-center transparent-light'>
    <div class='xs-spacer'></div>
  <%= image_tag 'hanger', class:'img img-responsive
                               col-md-6 col-sm-12 col-xs-12' %>
<h1 class='transparent-dark'>Sports Massage, Deep Tissue, Structural Bodywork &
  Connective Tissue Massage
</h1>
  <ul class='list-group transparent-light'>
    <li>$120 per 90 minute session</li>
    <li>$90 per hour</li>
  </ul>
  <p class='transparent-light'>&nbsp;&nbsp;&nbsp;&nbsp;
    Connective tissue or Fascia is THE MOST abundant tissue in our bodies.
    It truly is our organ of form and structure.  When this system is
    imbalanced, traumatized or just plain overstressed it can cause innumerable
    symptoms throughout the body.  The purpose of structural bodywork is to
    bring length, balance and freedom to the many layers and lines of tension
    throughout the musculo-fascial network.  This work is best received in a
    series of 3, 5, or 10 sessions depending upon the needs of the patient.
    Maintenance work may be considered once a month to every other month for
    overall health and wellness needs.
  </p>
  <%= image_tag 'spiraltones', class:'img img-responsive col-md-6 col-sm-12 col-xs-12' %>
  <h1 class='transparent-dark'>Acutonics & Harmonic Attunement
  </h1>
    <ul class='list-group transparent-light'>
      <li>$120 per 90 minute session</li>
      <li>$90 per hour</li>
    </ul>
    <p class='transparent-light'>&nbsp;&nbsp;&nbsp;&nbsp;
      Based on the philosophies and science of Chinese Medicine, Acutonics is
      a form of sound/vibrational therapy that places specifically calibrated
      tuning forks onto acupoints to bring better harmony and balance to the
      patient.  In a nutshell, it is acupunture using tuning forks instead of
      needles.  The frequencies of the forks literally retune and bring one
      back into harmony with nature or oneself.
    </p>
  <br>
  <br>
  <%= image_tag 'correct_toes', class:'img img-responsive col-md-6 col-sm-12 col-xs-12' %>
  <h1 class='transparent-dark'>Correct Toes
  </h1>
    <ul class='list-group transparent-light'>
      <li>$65 per pair</li>
    </ul>
    <p class='transparent-light'>&nbsp;&nbsp;&nbsp;&nbsp;
      Created by podiatrist Dr. Ray McClanahan, Correct Toes are being used for
      everything from curing and preventing foot anomalies like bunions and
      neuromas to helping Olympic athletes prevent injury and increase
      performance.  Made in the USA out of surgical grade silicon, this orthotic
      device can bring you to a new awareness of the importance of foot health.
    </p>
</div>
