<div class="jumbotron heading row">
  <figure class='col-md-3 square-logo figure'>
    <%= image_tag 'NOM-vertical-no-square.png', class: 'hidden-xs col-xs-11 figure-img img-fluid img-rounded', alt:"Nashville Orthopedic Massage's logo featuring DaVinci's 'Vitruvian Man'"%>
  </figure>
  <h2 class='col-md-8 hidden-xs '>Lewis Braswell, LMT, CPT</h2>
  <h2 class='col-md-8 hidden-xs'>Cameron Davi, LMT, CNMT, MTPT</h2>
</div>
<h3 class='hidden-sm hidden-md hidden-lg hidden-xl remove-margin'>
  <figure class='horizontal-logo figure '>
    <%= image_tag 'horizontal-logo.png', class: 'hidden-sm col-xs-12 figure-img img-fluid img-rounded', alt:"Nashville Orthopedic Massage's logo featuring DaVinci's 'Vitruvian Man'"%>
  </figure>
  <span class='text-center col-xs-12'>Lewis Braswell, LMT, CPT</span>
  <span class='col-xs-12 text-center'>Cameron Davi, LMT, CNMT, MTPT</span></h3>
<div class="tagline text-center hidden-sm hidden-md hidden-lg hidden-xl alert alert-danger">
    "Finding Health by <strong>defining balance</strong> ..."
</div>
<div class="tagline text-center alert alert-danger hidden-xs">
    "Finding Health by <strong>defining balance</strong> ..."
</div>
