<div class="heading">
  <figure class='square-logo figure fixed hidden-xs'>
    <%= image_tag 'horizontal-logo.png', class: 'figure-img img-fluid img-rounded', alt:"Nashville Orthopedic Massage's logo featuring DaVinci's 'Vitruvian Man'"%>
  </figure>
  <span class='nom text-bottom col-md-4 hidden-xs'>NASHVILLE ORTHOPEDIC MASSAGE</span>
</div>
<h3 class='hidden-sm hidden-md hidden-lg hidden-xl remove-margin'>
  <figure class='horizontal-logo figure '>
    <%= image_tag 'horizontal-logo.png', class: 'hidden-sm col-xs-12 figure-img img-fluid img-rounded', alt:"Nashville Orthopedic Massage's logo featuring DaVinci's 'Vitruvian Man'"%>
  </figure></h3>
  <div class="tagline text-center hidden-sm hidden-md hidden-lg hidden-xl">
      Finding Health by <strong>defining balance</strong> ...
  </div>
