
<div class="jumbo row hidden-xs">
  <div class="jumbotron heading">
    <figure class='square-logo figure'>
      <%= image_tag 'NOM-vertical-no-square.png', class: 'hidden-xs col-xs-12 figure-img img-fluid img-rounded', alt:"Nashville Orthopedic Massage's logo featuring DaVinci's 'Vitruvian Man'"%>
    </figure>
    <h1 class='name hidden-xs text-right'>Lewis Braswell, LMT</h1>
  </div>
</div>


<div class="news-item  text-center">
  <h3 class='hidden-sm hidden-md hidden-lg hidden-xl remove-margin'>
    <figure class='horizontal-logo figure '>
      <%= image_tag 'horizontal-logo.png', class: 'hidden-sm col-xs-12 figure-img img-fluid img-rounded', alt:"Nashville Orthopedic Massage's logo featuring DaVinci's 'Vitruvian Man'"%>
    </figure>
    <span class='col-xs-12'>Lewis Braswell, LMT</span></h3>
  <div class="tagline hidden-sm hidden-md hidden-lg hidden-xl alert alert-danger">
      "Finding Health by <strong>defining balance</strong> ..."
  </div>
  <div class="tagline text-right alert alert-danger hidden-xs">

      "Finding Health by <strong>defining balance</strong> ..."
  </div>
</div>
