<div class="jumbo row">
  <div class="jumbotron heading">
    <figure class='logo figure '>
      <%= image_tag 'NOM-vertical-no-square.png', class: 'hidden-sm col-xs-12 figure-img img-fluid img-rounded', alt:"A picture of crumpled and misaligned boxes and shapes and another picture of the same shapes hanging in line from above on a hook."%>
    </figure>
    <h1 class='name text-right'>Lewis Braswell, LMT</h1>
  </div>
</div>

<div class="news-item">
  <div class="tagline alert alert-danger text-center">
      "Finding Health by <strong>defining balance</strong> ..."
  </div>
</div>
