<h4 class='transparent-light pull-right hours'>
  <label>Privacy Policy:</label><br>
  <p>
    Our gallery will display recent Instagram images labeled with #nashvilleOM.
    Images are never saved or used again.  The purpose is making our website's gallery a community
    experience recording good times at our venue/bar.  It offers immediate gratification for the user/customer
    when they get to see their picture on our website.
  </p><br>
</h4>
