<div class='share fixed transparent-light'>
  <div class="text-right">
    <a href="https://www.massagebook.com/biz/NashvilleOrthopedicMassage#services"
       target='_blank'>
       <img src="http://www.massagebook.com/home/img/getbutton/button-booknow.png" alt="Book Now on MassageBook.com!" border="0">
     </a>
        <%= link_to (glyph :phone ) + '615-310-5359', 'tel:+1+615-310-5359', class:'btn btn-link btn-lg hidden-xs' %>
        <%= link_to (glyph :phone ), 'tel:+1+615-310-5359', class:'btn btn-default btn-lg hidden-sm hidden-md hidden-lg' %>
        <div class="fb-like"
             data-href="https://www.facebook.com/HarmonicHealthAndBodyworkNashville/"
             data-layout="button" data-action="like" data-share="true">
        </div>
  </div>
</div>
