/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets"
@import "bootstrap"
@import "animate"
@import "fullcalendar"
@import "bootstrap-datetimepicker"
@import "jquery.qtip.css"

@font-face
  font-family: "Bodoni 72 Smallcaps Book"
  src: url(/assets/Bodoni.ttf) format("truetype")
@import url(https://fonts.googleapis.com/css?family=Righteous)
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700)
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light|Exo:400,200italic,800|Bangers)
@import url(https://fonts.googleapis.com/css?family=Lobster)
@import url(https://fonts.googleapis.com/css?family=Pacifico)

$primary: #cfd3d6
$third-color: rgb(225, 227, 224)
$secondary: #fff
$accent: #68739a
$shadows: 'Shadows Into Light', cursive
$cursive: 'Bitter', serif
$exo: 'Exo', serif
$bodoni: 'Bodoni 72 Smallcaps Book', serif

$righteous: 'Righteous', cursive

body#application-layout, body#events-application-layout, body#bands-application-layout, body#static-pages-application-layout
  margin-top: 50px
  background: #68739a
  background: -moz-radial-gradient(center, ellipse cover, #68739a 0%, #9cb7d5 100%)
  background: -webkit-radial-gradient(center, ellipse cover, #68739a 0%, #9cb7d5 100%)
  background: radial-gradient(ellipse at center, #68739a 0%, #9cb7d5 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68739a', endColorstr='#9cb7d5',GradientType=1 )
  background-size: cover
  background-repeat: no-repeat
  color: black
  font-family: $righteous
  font-size: 20px
  h1, h2, h3, h4, h5, h6
    margin: 20 0 !important
    font-family: $bodoni
    color: black
  p
    font-family: $bodoni
    font-size: 22px
    text-align: left
    -webkit-text-stroke: .75px $primary
    line-height: 18px
    margin: 0 30px 0 30px
  input
    color: $primary
.datepicker, .timepicker
  color: #333
.band-name
  color: $accent
.transparent-dark
  margin: 10px
  padding: 10px
  background-color: silver !important
  overflow: hidden
.transparent-light
  margin: 10px
  background-color: $secondary !important
  overflow: hidden
.news-item
  background-color: $secondary !important
  padding: 10px
.navbar-collapse
  a
    color: #68739a !important
.navbar-brand
  color: #68739a !important

h1, h2, h3, h4, h5
  margin-top: 10px !important

#index-logo
  margin-top: 20px
  z-index: 1000
div.news-header.transparent-dark, div.news-header2.transparent-dark
  text-align: center
  padding: 5px !important
  margin: 10px 10px 10px 10px !important
h1.news-headline
  text-align: center
  font-size: 10px
  height: 75px
  padding: 5px !important
  vertical-align: middle
  margin: 5px

body#layout
  background-color: $secondary
  color: $accent
  font-family: $righteous

.navbar
  background-color: $primary
  color: $accent
.navbar-collapse
  margin-top: 0
.news-header
  margin: 0
footer
  position: relative
  bottom: 0

.fixed
  position: fixed
@media screen and (max-device-width: 721px)
  background: red
.no-height
  height: 0

.lg-spacer
  height: 75px
  width: 100%

.spacer
  height: 75px
  width: 100%

.sm-spacer
  height: 50px
  width: 100%

.xs-spacer
  height: 25px
  width: 100%
