/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets"
@import "bootstrap"
@import "animate"
@import "fullcalendar"
@import "bootstrap-datetimepicker"
@import "jquery.qtip.css"

@font-face
  font-family: "Bodoni 72 Smallcaps Book"
  src: url(/assets/Bodoni.ttf) format("truetype")
@import url(https://fonts.googleapis.com/css?family=Montserrat)
@import url(https://fonts.googleapis.com/css?family=Montserrat)
@import url(https://fonts.googleapis.com/css?family=Montserrat)
@import url(https://fonts.googleapis.com/css?family=Montserrat)
@import url(https://fonts.googleapis.com/css?family=Montserrat)

$primary: #cfd3d6
$third-color: rgb(225, 227, 224)
$secondary: #fff
$accent: #68739a
$shadows: 'Montserrat', serif
$cursive: 'Montserrat', serif
$exo: 'Montserrat', serif
$bodoni: 'Montserrat', serif

$righteous: 'Montserrat'

body#application-layout, body#events-application-layout, body#bands-application-layout, body#static-pages-application-layout
  background: #eeeeee
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68739a', endColorstr='#9cb7d5',GradientType=1 )
  color: black
  font-family: $righteous
  font-size: 15px
  h1, h2, h3, h4, h5, h6
    margin: 20 0 !important
    font-family: $righteous
    color: black
  p
    font-family: $bodoni
    font-size: 20px
    text-align: left
    line-height: 24px
    margin: 10px 10px 15px 10px
  input
    color: $primary
ul.list-group
  text-align: center
.datepicker, .timepicker
  color: #333
.band-name
  color: $accent
.transparent-dark
  padding: 10px
  overflow: hidden
  border-radius: 6px
.transparent-light
  background-color: $secondary !important
  overflow: hidden
  border-radius: 6px
  padding: 10px
  margin-bottom: 10px
.nom
  position: fixed
  top: 130px
  z-index: 2000
.square-logo
  img
    width: 100%
  max-width: 270px
  position: absolute
  left: 30px
  z-index: 1020
  width: 500px
.news-item
  background-color: $secondary !important
.navbar-collapse
  a
    color: #68739a !important
    font-size: 15px
.navbar-brand
  color: #68739a !important
  font-size: 15px
  padding: 15px 0 10px 5px

h1, h2, h3, h4, h5
  margin-top: 10px !important

h1
  font-size: 48px
h2, h3,h4,h5
  font-family: $bodoni
  font-size: 28px

#index-logo
  margin-top: 20px
  z-index: 1000
div.news-header.transparent-dark, div.news-header2.transparent-dark
  text-align: center
  padding: 5px !important
  margin: 10px 10px 10px 10px !important
  border-radius: 6px
.massage-hands
  margin-top: 25px
  background-image: url('massage-hands.jpg')
  background-size: cover
  background-position: bottom
  height: 125px
  padding: 25px
  color: #68739a !important
  h1
    top: 20px
    color: white !important
    font-size: 2.5em
h1.news-headline
  text-align: center
  font-size: 10px
  height: 75px
  padding: 5px !important
  vertical-align: middle
  margin: 5px

body#layout
  background-color: $secondary
  color: $accent
.navbar
  background-color: $primary
  color: $accent
  z-index: 1000
.navbar-collapse
  margin-top: 0
.news-header
  margin: 0
footer
  position: relative
  bottom: 0
.fixed
  position: fixed

.no-height
  height: 0

.lg-spacer
  height: 75px
  width: 100%

.spacer
  height: 75px
  width: 100%

.sm-spacer
  height: 50px
  width: 100%

.xs-spacer
  height: 25px
  width: 100%
