// Place all the styles related to the Welcomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#click
  display: none
  color: #4D6E75
  background-color: #0D212D
.hanger.figure
  float: left !important
.jumbo.row
  max-height: 105px !important
.jumbotron
  max-height: 140px
.hours
  margin: 0 20px 0 0
.logo.figure
  position: absolute
  top: -27  .5px
  width: 270px
.name
  position: relative
  bottom: 25px
.news-headline
  ul
    width: 100%
    li
      width: 100%
.super-ficial-back
  width: 250px !important
.welcome_notes
  color: black
.tagline.alert, .jumbotron.heading
  margin-bottom: 0
.transperent-dark
  background: rgba 255, 255, 255, 0.7

.fb-like, .hours
  position: relative
  bottom: 5px

.share
  padding-left: 20px

  z-index: 1001
